# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
env/

# Git
.git/
.gitignore

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Documentation
docs/

# Cache
.cache/

# Python cache
.mypy_cache/

# Notebook
.ipynb_checkpoints/

# Docker
Dockerfile.old

# Build
dist/
build/