# -------------------------------------------------------------------
# Copyright (c) 2026 Ved Talmaley. All Rights Reserved.
# This project and its source code are strictly proprietary.
# Unauthorized copying, distribution, or use is strictly prohibited.
# -------------------------------------------------------------------


__pycache__/
*.pyc
*.pyo

.venv/
env/

.git/
.gitignore

logs/

tests/

notebooks/

data/vectordb/

data/generated/

.vscode/

.idea/